@import url(style.css);

.perfil {
    max-width: 300px;                           
    padding: 20px;                              
    border: 1px solid #ccc;                   
    border-radius: 8px;                         
    background-color: var(--cor-primaria);      
    font-family: var(--fonte-primaria);
    margin: 0 auto; /* Centraliza horizontalmente */
}

.caixa_perfil {
    height: 40vh;           /* 40% da altura da viewport */
    display: block;         /* Garantir que o conteúdo seja exibido como bloco */
    text-align: center;     /* Centraliza o texto dentro do contêiner */
    margin-top: 100px;      /* Espaço adicional no topo (ajustável) */
}

.imagem-perfil {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
}

.nick {
    margin-top: 10px; 
    font-size: 1.2em;
}


.lista {
    margin-top: 20px; /* Espaçamento entre o perfil e a lista */
    list-style-type: none; /* Para remover os pontos */
    padding: 0;
    text-align: left; /* Alinha os itens da lista à esquerda */
    display: block;
}