@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Silkscreen&display=swap');

:root {     /* Define as variáveis globais */
    --cor-primaria: rgb(0, 0, 0);                           
    --cor-secundaria: rgb(225, 225, 225);
    --cor-terciaria: rgb(145, 7, 237);

    --fonte-primaria: 'Silkscreen', sans-serif;
    --fonte-secundaria: 'Hedvig Letters Serif', serif;
}

* {                 /* Define estilo padrao da pagina */
    margin: 0;      /* Remove margens de todos os elementos*/
    padding: 0;     /* Remove o preenchimento de todos os elementos */
}

body {                                          /* Estilo de todo o corpo */
    color: var(--cor-secundaria);               /* Define a cor do texto */
    background-color: var(--cor-primaria);      /* Define a cor de fundo */
}

/* HEADER (TODAS PAGINAS)*/
.cabecalho {                    /* Estilo do cabeçalho */
    padding: 2% 0% 0% 12%;      /* Define o preenchimento top-right-botton-left*/
}

.cabecalho__menu {                          /* Classe de <nav> do cabeçalho */
    display: flex;                          /* Usa flexbox no menu */
    font-size: 24px;                        /* Tamanho da fonte */
    font-family: var(--fonte-primaria);     /* Estilo da fonte */
    gap: 80px;                              /* Espaço entre cada iten */
}

.menu__links {                      /* Estilo dos links nao selecionados */
    color: var(--cor-terciaria);    /* Cor do texto */
    text-decoration: none;          /* Remove a formatação dos links */
}

.menu__links__destaque {        /* Estilo do link que esta selecionado */
    color: white;             /* Cor do texto */
    text-decoration: none;      /* Remove a formatação do link */
}

/* FOOTER (TODAS PAGINAS)*/
.rodape {                                       /* Define o estilo do rodape */
    color: var(--cor-primaria);                 /* Cor do texto */
    font-size: 24px;                            /* Tamanho da fonte */
    color: aliceblue;      /* Estilo da fonte */
    text-align: center;                         /* Centraliza o texto */
    padding: 12px;                              /* Preenchimento */
}

/* --------PAGINA HOME-------- */
.apresentacao {                         /* Classe da main (HOME, LOGIN e REGISTR-SE) */
    display: flex;                      /* Usa flexbox no elementos */
    align-items: center;                /* NAO FAZ NADA¹    */
    justify-content: space-around;      /* NAO FAZ NADA²    */
    padding: 6% 12%;                    
}

.apresentacao__descricao {      /* Descrição do projeto tela HOME */
    font-size: 23px;            /* Tamanho da fonte */
}

/* -------- PAGINA LOGIN -------- */
.login {                                        /* Define o estilo para a classe "login" */
    transform: scale(1.5);                      /* Aumenta o tamanho do elemento em 1.5 vezes */
    max-width: 300px;                           /* Define a largura máxima do elemento como 300px */
    padding: 20px;                              /* Adiciona um espaçamento interno de 20px em todos os lados */
    border: 1px solid #ccc;                   /* Aplica uma borda sólida de 1px com cor cinza (#ccc) */
    border-radius: 8px;                         /* Define cantos arredondados com raio de 8px */
    background-color: var(--cor-primaria);      /* Define a cor de fundo usando uma variável CSS */
    color: var(--cor-terciaria);                /* Define a cor do texto */
    font-family: var(--fonte-primaria);         /* Define a família da fonte */
}

.login__campo {             /* Classe dos campos de login */
    padding-top: 10px;      /* Espaçamento superior */
    padding-bottom: 10px;   /* Espaçamento inferior */
}

/* -------- PAGINA REGISTRE-SE -------- */
.registro {
    transform: scale(1.5);                      /* Aumenta o tamanho do elemento em 1.5 vezes */
    max-width: 300px;                           /* Define a largura máxima como 400px */
    width: 100%;                                /* A largura do elemento será 100% do seu contêiner */
    padding: 20px;                              /* Define um espaçamento interno de 20px em todos os lados */
    border: 1px solid #ccc;                   /* Aplica uma borda sólida de 1px com cor cinza (#ccc) */
    border-radius: 8px;                         /* Define cantos arredondados com raio de 8px */
    background-color: var(--cor-primaria);      /* Define a cor de fundo usando uma variável CSS */
    margin: 20px 0;                             /* Adiciona uma margem de 20px no topo e embaixo */
    color: var(--cor-terciaria);                /* Define a cor do texto usando uma variável CSS */
    font-family: var(--fonte-primaria);         /* Define a fonte do texto usando uma variável CSS */
}


.registro__campo {
    padding-top: 10px;          /* Adiciona 10px de espaçamento superior */
    padding-bottom: 10px;       /* Adiciona 10px de espaçamento inferior */
}

/* -------- PAGINA CONTATOS -------- */
.container {
    display: flex;                  /* Define o layout flexível para o contêiner */
    flex-direction: column;         /* Organiza os itens flex em uma coluna (verticalmente) */
    justify-content: center;        /* Centraliza os itens verticalmente no contêiner */
    align-items: center;            /* Centraliza os itens horizontalmente no contêiner */
    height: 50vh;                   /* Define a altura como 50% da altura da janela de visualização (viewport) */
    width: 100vw;                   /* Define a largura como 100% da largura da janela de visualização (viewport) */
    text-align: center;             /* Centraliza o texto dentro dos elementos */
}

.contatos {
    display: flex;                              /* Define o layout flexível para o contêiner de contatos */
    column-gap: 50px;                           /* Define um espaçamento de 50px entre as colunas (itens) */
    margin-top: 50px;                           /* Adiciona uma margem de 50px no topo */
    font-family: var(--fonte-secundaria);       /* Define a fonte usando uma variável CSS */
    color: var(--cor-secundaria);               /* Define a cor do texto usando uma variável CSS */
    flex-direction: column;                     /* Organiza os itens flex em uma coluna (verticalmente) */
    gap: 20px;                                  /* Define um espaçamento de 20px entre os itens no eixo principal */
}

.foto_contato {
    max-width: 200px;       /* Ajuste a largura máxima aqui */
    max-height: 200px;      /* Ajustando a altura maxima */
    height: auto;           /* Mantém a proporção da imagem */
    border-radius: 50%;     /* Arredondamento da borda */
    margin-right: 20px;     /* Recuo da direitoa */
}

.container_contatos {
    display: flex;               /* Define que o layout será flexível, permitindo organizar os itens no eixo principal */
    justify-content: center;     /* Centraliza os itens filhos horizontalmente dentro do container */
    width: 100%;                 /* Define a largura total do container, ocupando 100% do espaço disponível */
    border-collapse: separate;   /* Garante que as bordas de elementos internos não se unam (geralmente usado em tabelas) */
    border-spacing: 50px;        /* Define um espaçamento de 50px entre as bordas dos elementos internos */
    gap: 80px;                   /* Adiciona um espaço de 80px entre os itens filhos do container */
    margin-top: 50px;            /* Cria um espaçamento de 50px no topo do container */
    margin-bottom: 30px;
    font-size: 20px;             /* Define o tamanho da fonte dentro do container como 20px */
}

a {
    color: white;
}

