@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Silkscreen&display=swap');

:root {
    --cor-primaria: rgb(0, 0, 0);
    --cor-secundaria: rgb(225, 225, 225);
    --cor-terciaria: rgb(145, 7, 237);

    --fonte-primaria: 'Silkscreen', sans-serif;
    --fonte-secundaria: 'Hedvig Letters Serif', serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
}

/* HEADER */
.cabecalho2{
    display: flex;
    font-size: 24px;
    font-family: var(--fonte-primaria);
    gap: 80px;
    margin-left: 160px;
    
}
.cabecalho {
    padding: 2% 0% 0% 12%;
}

.cabecalho__menu {
    display: flex;
    font-size: 24px;
    font-family: var(--fonte-primaria);
    gap: 80px;
}

.menu__links {
    color: var(--cor-terciaria);
    text-decoration: none;
}

.menu__links__destaque {
    color: white;
    text-decoration: none;
}

/* --------PAGINA HOME-------- */
.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10% 12%;
    gap: 30px;
}

.apresentacao__descricao {
    font-size: 30px;
}

/* FOOTER */
.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font-size: 24px;
    font-family: var(--fonte-secundaria);
    text-align: center;
    padding: 12px;
}

/* -------- PAGINA LOGIN -------- */
.login {
    transform: scale(1.5);
    max-width: 300px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--cor-primaria);
    margin: 20px 0;
    color: var(--cor-terciaria);
    justify-content: center;
    font-family: var(--fonte-primaria);
}

.login__campo {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* -------- PAGINA REGISTRE-SE -------- */
.registro {
    transform: scale(1.5);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--cor-primaria);
    margin: 20px 0;
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
}

.registro__campo {
    padding-top: 10px;
    padding-bottom: 10px; 
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 50vh;
    width: 100vw; 
    text-align: center; 
}

.contatos{
    display: flex;
    column-gap: 50px;
    margin-top: 50px;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    flex-direction: column;
    gap: 20px;
    
    

}
.foto_contato{
    max-width: 200px; /* Ajuste a largura máxima aqui */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 50%;
    margin-right: 20px;
}
.container_contatos{
    display: flex;
    justify-content: center;
    width: 100%;
    border-collapse: separate; 
    border-spacing: 50px;
   gap: 80px;
   margin-top: 50px;
   font-size: 20px;
   
}
a{
    color: white;
}
